USE [Cliente360_Dev]
GO
/****** Object:  UserDefinedTableType [dbo].[interfaz_servicio]    Script Date: 7/02/2018 10:41:24 ******/
CREATE TYPE [dbo].[interfaz_servicio] AS TABLE(
	[numero_documento] [varchar](20) NULL
)
GO
