<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogFile="D:\Nlog\NlogConfig.log">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <add assembly="Gildemeister.Cliente360.WebAPI"/>
  </extensions>
  <targets>
    <target xsi:type="File" name="ownFile-web" fileName="D:\log\cliente-360-${shortdate}.log"
             layout="${longdate}|${event-properties:item=EventId.Id}|${uppercase:${level}}|${logger}|${message} ${exception}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />

    <target name="database" xsi:type="Database" keepConnection="false">
      <connectionString>${var:NlogConnection}</connectionString>
      <commandText>
        INSERT INTO dbo.Logs (
        Level
        ,CallSite
        ,Type
        ,Message
        ,StackTrace
        ,Method
        ,InnerException
        ,AdditionalInfo
        ,LoggedOnDate
        ,Browser
        ,[User]
        ,RequestUrl
        ,IPAddressServer
        ,ClientIPAddress)
        VALUES
        (@Level
        ,@CallSite
        ,@Type
        ,@Message
        ,@StackTrace
        ,@Method
        ,@InnerException
        ,@AdditionalInfo
        ,@LoggedOnDate
        ,@Browser
        ,@User
        ,@RequestUrl
        ,@IPAddressServer
        ,@ClientIPAddress)
      </commandText>
      <parameter name="@level" layout="${level}" />
      <parameter name="@callSite" layout="${callsite}" />
      <parameter name="@type" layout="${exception:format=type}" />
      <parameter name="@message" layout="${exception:format=message}" />
      <parameter name="@stackTrace" layout="${exception:format=stackTrace}" />
      <parameter name="@method" layout="${aspnet-Request-Method}" />
      <parameter name="@innerException" layout="${exception:format=:innerFormat=ShortType,Message,Method:MaxInnerExceptionLevel=1:InnerExceptionSeparator=}" />
      <parameter name="@additionalInfo" layout="${message}" />
      <parameter name="@loggedOnDate" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff}" />
      <parameter name="@browser" layout="${aspnet-Request-UserAgent}" />
      <parameter name="@user" layout="${event-context:item=user}" />
      <parameter name="@RequestUrl" layout="${aspnet-Request-Url}" />
      <parameter name="@IPAddressServer" layout="${aspnet-request:serverVariable=LOCAL_ADDR}" />
      <parameter name="@clientIPAddress" layout="${aspnet-Request-IP}" />
    </target>
  </targets>

  <rules>
    <logger name="*" levels="Error,Warn,Fatal, Trace" writeTo="database"/>
     <!--<logger name="*" minlevel="Trace" writeTo="ownFile-web" />-->
  </rules>
</nlog>